@import "node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

:root {
  font-family: "Rubik", sans-serif;
  --accent: #e6d19e;
  --formGap: 3em;
  --formMargin: 1em;
}

body {
  display: flex;
  background-color: #faedd1;
}

main {
  height: 10vw;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-style: none;
}

li {
  list-style: none;
  width: 20em;
  text-align: left;
}

label {
  font-size: large;
}

input {
  width: 16em;
  height: 3em;
  border-radius: 5px;
  border: 3px #c8c8c8 solid;
  font-size: 1.2em;
  text-indent: 10px;
  transition: 0.3s;
  outline: none;
}

input:focus {
  border: 3px solid #7b7b7b;
}

button {
  background-color: var(--accent);
  font-size: 1.2em;
  padding: 1em 1em 1em 1em;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  width: 33%;
  overflow: hidden;
}

.hero-img {
  overflow: hidden;
  border-right: solid 8px #a59570;
}

.title {
  font-family: Dosis;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 5.5vh;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}

.cta {
  font-size: 1.7em;
  margin-bottom: 2.3vh;
  text-align: left;
  margin-left: 2em;
  line-height: 1.3em;
}

.form-content {
  text-align: center;
  margin: 5vw 8vw 6vw 8vw;
}

.formCol1 {
  display: flex;
  gap: var(--formGap);
  margin-bottom: var(--formMargin);
}

.formCol2 {
  display: flex;
  gap: var(--formGap);
  margin-bottom: var(--formMargin);
}

.formCol3 {
  display: flex;
  gap: var(--formGap);
  margin-bottom: var(--formMargin);
}

.separator {
  padding: 12px;
  font-size: 1.1em;
}

.submit {
  margin-top: 0.5em;
}
